@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.logo{
	max-width: 275px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 20px;
}
#home-hero{
	background-image: url(images/guitars.jpg);
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
}
#home-hero h1{
	text-align: center;
	color: #FF00FE;
	text-shadow: 2px 2px 2px black;
	margin: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}
.video-container{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.video-container::after{
	padding-top: 56.25%;
	display: block;
	content: '';
}
.video-container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.header-two{
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	padding: 10px;
	background-color: #FF00FE;
}
table{
	border-collapse: collapse;
	margin: 0 auto;
	border: 5px solid #000000;
}
tr:nth-child(even){
	background-color: #eeeeee;
}
th{
	background-color: #93278E;
	color: white;
	padding: 10px;
	border-bottom: 5px solid #000000;
}
td{
	border: 1px solid #dddddd;
	padding: 10px;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
}
input, textarea{
	margin-bottom: 1em;
	display: block;
}
input[type=submit]{
	display: block;
	background-color: lightgray;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}
a:link{
	color: #b300b3;
}
a:visited{
	color: #b300b3;
}
a:hover{
	color: blue;
}
a:active{
	color: black;
}
header{
	text-align: center;
}
nav{
	background-image: linear-gradient(to bottom right, #488017, #FF00FE);
	background-color: fuchsia;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px;
}
nav ul{
	list-style-type: none;
	text-align: center;
	margin: 8px 0;
	padding: 0;
}
nav li{
	display: inline;
	padding: 5px;
}
nav a{
	text-decoration: none;
}
nav a:link{
	color: white;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: lightgray;
}
nav a:active{
	color: gray;
}
main{
	max-width: 1000px;
	margin: 20px auto;
	padding: 10px;
}
footer{
	background-image: linear-gradient(to top right, #FF00FE, #000000 ,#488017);
	border-top: black 3px solid;
	text-align: center;
}
h1{
	font-size: 4em;
}
@media only screen and (max-width: 1024px)
{
	h1{
		font-size: 2em;
	}
}
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
}
